.admin-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.stat-box {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.06);
}

.stat-box h3 {
  font-size: 14px;
  color: #666;
}

.stat-box p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  color: #6932D0;
}
