/* ENTIRE APP LAYOUT */
.peb-app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* RIGHT SIDE CONTENT */
.peb-main {
  padding-top:74px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* THE ACTUAL PAGE CONTENT AREA */
.peb-content {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}
