:root {
  --primary: #7B2FFF;
  --sb-width: 72px;
}

/* HEADER CONTAINER */
.peb-topheader {
  position: absolute;
  top: 0;
  left: 72px;
  width: 100%;
  right: 0;
  z-index: 3000;
  background: linear-gradient(90deg, #7B2FFF 0%, #862FFF 50%, #9B3FFF 100%);
  height: 54px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  box-sizing: border-box;
}

/* TITLE */
.peb-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

/* Remove old purple line completely */
.peb-topline {
  display: none !important;
}
